* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search {
    display: flex;
    margin-top: 20px !important;
}

.search-input {
    margin-left: 30px;
    width: 200px !important;
}

.search-level {
    margin-left: 30px;
    width: 100px;
}

#timeRange {
    margin-left: 30px;
    padding-left: 10px;
    width: 300px;
    border: 1px rgb(238,238,238) solid;
    border-radius: 2px;
}

.search-data {
    font-size: 18px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 187px;
    bottom: 10px;
    overflow-y: scroll;
    overflow-x: auto;
}

.layui-form-select dl dd.layui-this{
    background-color: white !important;
    color: black !important;
}