<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToLog</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <header class="header-container">
        <div class="header-logo">ToLog</div>
        <i id="header-logout" class="layui-icon layui-icon-logout" onclick="logout()"></i>
    </header>
    <form class="layui-form search" action="">
        <input id="appName" type="text" name="title" placeholder="应用名称" style="font-size: 15px" autocomplete="off" class="layui-input search-input">
        <input id="errorMsg" type="text" name="title" placeholder="报错信息" style="font-size: 15px" autocomplete="off" class="layui-input search-input">
        <div class="search-level">
            <select id="level" name="level" class="search-select">
                <option value="" style="background: #8D8D8D">日志级别</option>
                <option value="DEBUG">DEBUG</option>
                <option value="INFO">INFO</option>
                <option value="WARN">WARN</option>
                <option value="ERROR">ERROR</option>
            </select>
        </div>
        <input type="text" placeholder="时间范围" id="timeRange">
        <button type="button" class="layui-btn search-button" style="margin-left: 30px" onclick="logSearch()">查询</button>
        <div><i id="search-loading" class="layui-icon layui-icon-loading-1 layui-anim layui-anim-rotate layui-anim-loop" style="color: #8D8D8D;display: none;font-size: 70px;top: 50%;left: 50%;position: absolute"></i></div>
    </form>
    <div id="laypage" style="margin-left: 30px;margin-top: 5px;height: 10px">
        <fieldset class="layui-elem-field layui-field-title"></fieldset>
    </div>
    <hr style="height: 32px">
    <div class="search-data">
    </div>
</div>
</body>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    let lock = 0;
    let scrollTop = 0;
    let pageNum = 1;
    let pageSize = 5;
    const limits = [5, 10, 20];

    layui.use('laydate', function(){
        layui.laydate.render({
            elem: '#timeRange',
            type: 'datetime',
            range: true,
            value: getInitTimeRange(),
            isInitValue: false,
            ready: function () {
                $('.laydate-btns-clear').click(function () {
                    $('#timeRange').val('');
                });
            }
        });

        layui.laypage.render({
            elem: 'laypage',
            limit: pageSize,
            limits: limits,
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
        });
    });

    function getInitTimeRange() {
        let time = ' 00:00:00';
        let start = new Date();
        let end = new Date();
        end.setDate(end.getDate() + 1);
        return  start.toLocaleDateString().split('/').join('-') + time + ' - '
            + end.toLocaleDateString().split('/').join('-') + time;
    }

    function logSearch(pageDto) {
        if(lock === 1) return;
        lock = 1;
        document.querySelector('.search-data').innerHTML = '';
        let startTime = null;
        let endTime = null;
        const timeRange = ($("#timeRange").val());
        if($.common.isNotEmpty(timeRange)){
            startTime = timeRange.split(" - ")[0];
            endTime = timeRange.split(" - ")[1];
        }
        if(pageDto == null){
            pageNum = 1;
        }else{
            pageNum = pageDto.curr;
            pageSize = pageDto.limit;
        }
        $.ajax({
            url: ctx + "log/search",
            type: "get",
            data: {
                appName: $("#appName").val(),
                errorMsg: $("#errorMsg").val(),
                level: $("#level").val(),
                startTimestamp: $.common.isEmpty(startTime) ? null : new Date(startTime).getTime(),
                endTimestamp: $.common.isEmpty(endTime) ? null : new Date(endTime).getTime(),
                pageNum: pageNum,
                pageSize: pageSize
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("token", localStorage.getItem("token"));
                $("#search-loading").show();
            },
            success: function(result) {
                let rowCount = 0;
                lock = 0;
                loadHide();
                if(result.code === StatusCode.success){
                    const data = [];
                    for (let i = 0; i < result.data.list.length; i++) {
                        let item = result.data.list[i];
                        data.push(item.error);
                        item.traceLines.forEach(e => data.push(e));
                        if(i < result.data.list.length - 1){
                            data.push("");
                        }
                    }
                    data.forEach(item => {
                        rowCount++;
                        $(".search-data").append(`<div style="white-space: pre;"><span style="color: #8D8D8D">${formatCount(rowCount)}   </span>${item}</div>`);
                    });
                    layui.laypage.render({
                        elem: 'laypage',
                        count: result.data.total,
                        groups: 3,
                        curr: pageNum,
                        limit: pageSize,
                        limits: limits,
                        layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                        jump: function(obj, first){
                            if(first) return;
                            logSearch(obj);
                        }
                    });
                }else{
                    if(result.code === StatusCode.notLogin){
                        logout();
                    }
                    alert(result.message);
                }
            },
            error: function (xhr) {
                lock = 0;
                loadHide();
                alert("系统错误, " + xhr.status);
            }
        });
    }

    function formatCount(count) {
        let result = "";
        let str = count.toString();
        if(str.length < 5){
            for (let i = 0; i < 5 - str.length; i++) {
                result += "  ";
            }
        }
        result += str;
        return result;
    }

    function loadHide() {
        $("#search-loading").hide();
    }

    function hrefLogin() {
        location.href = ctx + 'login';
    }

    function logout() {
        localStorage.clear();
        hrefLogin();
    }

    $(function () {
        if(!$.common.checkToken()){
            hrefLogin();
        }
        logSearch();
    });

    let ctx = [[@{/}]];
</script>
</html>