<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.hidou7.tolog.mapper.LoggingEventMapper">

    <select id="getAppNames" resultType="java.lang.String">
        select distinct app_name from logging_event where app_name is not null
    </select>
</mapper>